*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    color: #fff;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(17, 17, 17);
    place-items: center;
    display: grid;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 100;
}

.header video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(65, 65, 65);
    mix-blend-mode: overlay;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center; 
}

nav a{
    width: 150px;
    z-index: 1;
}

nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
    z-index: 1;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 30px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 50px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 25px;
    color: #fff;
}

nav .fas{
    display: none;
    z-index: 1;
}
nav .bars-close{
    position: absolute;
    right: 10px;
    top: 10px;
}



/*--------MENU--------*/
.menu{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 35px;
    font-weight: 100; 
    text-align: center;
}

.menu p{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    width: auto;
}

.menu-col{
    flex-basis: 30%;
    background: rgb(241, 241, 241);
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.menu-col img{
    width: 100%;
    border-radius: 20px;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #000000
}

.menu-col:hover{
    box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.2);
}

/*---------INFO----------*/
.info{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.col-sm-3{
    flex-basis: 80%;
    background: rgb(241, 241, 241);
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 2px 2px;
    box-sizing: border-box;
    width: 100%;
    border: solid rgb(241, 241, 241) 10px;
    padding: 5px;    
    transition: 0.5s;
}

.col-sm-4{
    flex-basis: 30%;
    background: rgb(241, 241, 241);
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 2px 2px;
    box-sizing: border-box;
    width: 100%;
    border: solid rgb(241, 241, 241) 10px;
    padding: 5px;    
    transition: 0.5s;
}

.col-sm-4 img{
    width: 100%;
    height: 280px;
    border-radius: 20px;
}

.col-sm-4 p{
    padding: 0;
    color: rgb(15, 15, 15);
}

.col-sm-4 h3{
    margin-top: 15px;
    text-align: right;
    font-weight: 300;
}

.col-sm-4 h4{
    text-align: right;
    font-size: 10px;
    font-weight: 100;
}

.col-sm-4:hover{
    box-shadow: 0 0 20px 0px rgb(165, 165, 165);
}

/*-------CONTACT-------*/
.contact{
    text-align: center;
    padding: 10px 10px;
}

.contact h1{
    font-size: 35px;
    font-weight: 100px; 
    text-align: center;
    margin-bottom: 20px;
    text-align: center;
}

.contact a{
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.contact .col-sm-4 p{
    color: #000;
    font-size: 20px;
}

.contact .col-sm-4{
    height: 800px;
    flex-basis: 30%;
    background: rgb(241, 241, 241);
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

iframe{
	border-radius: 20px;
    box-sizing: border-box;
    width: 100%;
    border: solid #5B6DCD 10px;
    padding: 5px;
}

.col-sm-4:hover{
    box-shadow: 0 0 20px 0px rgb(165, 165, 165);
}

/*-------FOOTER--------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer .p{
    font-family: 'Manrope', sans-serif;
}

.footer h4{
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 600;
}

.footer social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 0 10px;
    display: inline-block;
    padding: 20px;
}
.social-menu ul li .fa {
    color: #000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover{
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
    box-shadow: 0 0 20px 0px rgb(40, 40, 40);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #e4405f;
}

/*-------TOP BUTTON------*/
.topBtn {
    background: #f8f8f8;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
  }

  .topBtn i{
      color: #000000
  }
  
  .topBtn.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
  }

  .topBtn:hover{
      background: rgb(93, 100, 112);
  }

  .topBtn i:hover{
    color: #fff;
}

/*----------MEDIA----------*/

@media(max-width: 600px){
    body{
        overflow-x: hidden;
    }
    .info h1{
        font-size: 20px;
    }
    .header{
        width: 100%;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #466edd;
        height: 100vh;
        width: 200px;
        top: 0;
        right:0px;
        text-align: left;
        z-index: 1;
        transition: 1s;
    }
    
    nav .fas#bars{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 10px;
    }
    .col-sm-4{
        height: 500px;
    }
    .col-sm-4 img{
        height: 200px;
    }
    .gotopbtn{
        visibility: hidden;
    }
}
@media(max-width: 800px){
    body{
        overflow-x: hidden;
    }
    .info h1{
        font-size: 20px;
    }
    .contact a{
        font-size: 8px;
    }
    .nav-links{
        position: absolute;
        background: #466edd;
        height: 100vh;
        width: 220px;
        top: 0;
        right:0px;
        text-align: left;
        z-index: 1;
        transition: 1s;
    }
    .topBtn{
        visibility: hidden;
    }
    
    nav .fas#bars{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 10px;
    }
    .col-sm-4{
        height: 500px;
    }
    .col-sm-4 img{
        height: 200px;
    }
    .gotopbtn{
        visibility: hidden;
    }
}
@media(max-width: 1000px){
    body{
        overflow-x: hidden;
    }
    .info h1{
        font-size: 20px;
    }
    .contact a{
        font-size: 8px;
    }
    .nav-links{
        position: absolute;
        background: #466edd;
        height: 100vh;
        width: 220px;
        top: 0;
        right:0px;
        text-align: left;
        z-index: 1;
        transition: 1s;
    }
    
    nav .fas#bars{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 10px;
    }
    .col-sm-4{
        height: 500px;
    }
    .col-sm-4 img{
        height: 200px;
    }
    .gotopbtn{
        visibility: hidden;
    }
}
@media(min-width:1600px){
    .col-sm-4 img{
        height: 400px;
    }
    nav .fas{
        display: none;
        z-index: 1;
        right: 200px;
    }
}
@media(min-width:2000px){
    .col-sm-4 img{
        height: 500px;
    }
}